/*dark theme*/

body {
	background-color: #000000;
	color: #ffffff;
}

.menu li a, .menu li a:visited {
	font-weight: bold;
	color: #FFFFFF;
}

.menu li a:hover  {
	color: yellow;
}

a.welcome_link, a.welcome_link:visited  {
	color: #FFFFFF;
	text-decoration: none;
}

a.welcome_link:hover {
	color: yellow;
}
